---
layout: base
title: Bonjour user.name !
emoji: 👋
header:
    nav: false
permalink: '/index.html'
---

<!-- Container -->
<div class="container-fluid vstack gap-6">
    <!-- Card stats -->
    <div class="row g-6" id="amounts">
        <div class="col-xl-3 col-sm-6 col-12">
            {% inject "components/card-stats.njk", {
				title: 'Total des projets',
				value: 'totalInvoice€',
				icon: {
					color: 'tertiary',
					code: 'credit-card'
				},
				badge: {
					color: 'success',
					text: '30%',
					icon: {
						code: 'arrow-up'
					},
					helper: 'Since last month'
				}
			} %}
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            {% inject "components/card-stats.njk", {
                title: 'Trésorerie disponible',
				value: 'totalAvailable',
				icon: {
					color: 'primary',
					code: 'people'
				},
				badge: {
					color: 'success',
					text: '23%',
					icon: {
						code: 'arrow-up'
					},
					helper: 'Since last week'
				}
			} %}
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            {% inject "components/card-stats.njk", {
                title: 'Total hours',
				value: '1.400',
				icon: {
					color: 'info',
					code: 'clock-history'
				},
				badge: {
					color: 'danger',
					text: '-10%',
					icon: {
						code: 'arrow-down'
					},
					helper: 'Since last month'
				}
			} %}
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            {% inject "components/card-stats.njk", {
                title: 'Work load',
				value: '95%',
				icon: {
					color: 'warning',
					code: 'minecart-loaded'
				},
				badge: {
					color: 'success',
					text: '15%',
					icon: {
						code: 'arrow-up'
					},
					helper: 'Since yestearday'
				}
			} %}
        </div>
    </div>
    <!-- Row 2 -->
    <div class="row g-6">
        <div class="col-xl-4">
            <div class="card h-lg-full">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0">Mes clients</h5>
                    </div>
                </div>
                <div class="card-body py-0 position-relative">
                    <div class="list-group list-group-flush">
                        <x-client></x-client>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="mb-0">Latest Tasks</h5>
                        </div>
                        <div class="text-end mx-n1 d-flex align-items-center">
                            <a href="#" class="px-2 text-muted">
                                <i class="bi bi-arrow-clockwise"></i>
                            </a>
                            <a href="#" class="px-2 text-muted">
                                <i class="bi bi-three-dots"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 position-relative">
                    <div>
                        <a href="#" class="h5 d-inline-block font-semibold mb-2">Work on the website redesign</a>
                        <p class="text-sm text-muted mb-4">
                            I need 5 examples of the logo
                        </p>
                        <span class="surtitle text-muted d-block">Progress</span>
                        <div class="d-flex align-items-center">
                            <div style="width: 80%;">
                                <div class="progress progress-sm shadow-none">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col px-0 text-end">
                                <a href="#" class="h6 text-sm">65%</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <div>
                                <div class="hstack gap-4 justify-content-end">
                                    <div class="position-relative text-sm">
                                        <i class="bi bi-files-alt text-muted"></i>
                                        <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
                                    </div>
                                    <div class="position-relative text-sm">
                                        <i class="bi bi-people-fill text-muted"></i>
                                        <a href="#" class="text-muted text-primary-hover stretched-link">7</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-auto">
                                <div class="avatar-group">
                                    <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                        <img alt="..." src="{{ '/img/people/img-1.jpg' | url }}">
                                    </a>
                                    <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                        <img alt="..." src="{{ '/img/people/img-3.jpg' | url }}">
                                    </a>
                                    <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                        <img alt="..." src="{{ '/img/people/img-4.jpg' | url }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-5">
                    <div>
                        <a href="#" class="h5 d-inline-block font-semibold mb-2">Create the new landing sections</a>
                        <p class="text-sm text-muted mb-4">
                            I need 5 examples of the logo
                        </p>
                        <span class="surtitle text-muted d-block">Progress</span>
                        <div class="d-flex align-items-center">
                            <div style="width: 80%;">
                                <div class="progress progress-sm shadow-none">
                                    <div class="progress-bar bg-tertiary" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col px-0 text-end">
                                <a href="#" class="h6 text-sm">65%</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <div>
                                <div class="hstack gap-4 justify-content-end">
                                    <div class="position-relative text-sm">
                                        <i class="bi bi-files-alt text-muted"></i>
                                        <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
                                    </div>
                                    <div class="position-relative text-sm">
                                        <i class="bi bi-people-fill text-muted"></i>
                                        <a href="#" class="text-muted text-primary-hover stretched-link">7</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-auto">
                                <div class="avatar-group">
                                    <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                        <img alt="..." src="{{ '/img/people/img-1.jpg' | url }}">
                                    </a>
                                    <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                        <img alt="..." src="{{ '/img/people/img-3.jpg' | url }}">
                                    </a>
                                    <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                        <img alt="..." src="{{ '/img/people/img-4.jpg' | url }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row 3 -->
    <div class="card">
        <div class="card-header border-bottom">
            <h5 class="mb-0">Factures clients</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Team</th>
                        <th scope="col">Completion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="invoices">
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script type="module">
        import PocketBase from './node_modules/pocketbase/dist/pocketbase.es.js'

        const pb = new PocketBase('http://127.0.0.1:8090')

        const user = await pb.collection('contractors').authWithPassword('mcolin@gmail.com', 'mcolin@gmail.com', {expand: "projects,clients"})
        document.body.innerHTML = document.body.innerHTML
            .replaceAll('user.name', `${user.record.first_name}`)
        const { clients, projects } = user.record.expand    

        const template = `
        <div class="list-group-item px-0 position-relative hstack flex-wrap">
            <div class="me-3 text-white">
                <div class="position-relative d-inline-block text-current">
                    <div class="avatar rounded-circle">
                        <img alt="..." src="{{ item.img.src }}">
                    </div>
                    <span class="position-absolute bottom-2 end-2 transform translate-x-1/2 translate-y-1/2 border-2 border-solid border-current w-3 h-3 bg-success rounded-circle"></span>
                </div>
            </div>
            <div class="flex-1">
                <div class="d-flex align-items-center mb-1">
                    <a href="#" class="d-block h6 stretched-link">item.name</a>
                    <span class="text-muted text-xs ms-2">{{ item.date }}</span>
                </div>
                <div class="d-flex align-items-center">
                    <div class="w-3/4 text-sm text-muted line-clamp-1 me-auto">
                        {{ item.text }}
                    </div>
                </div>
            </div>
        </div>`

        const contents = clients.map(client => {
            return template.replaceAll('item.name', client.name)
        })
        document.querySelector('x-client').innerHTML = contents.join('\n')


        const invoices = await pb.collection('invoices').getFullList({expand: "client"})

        const tableTemplate = `
        <tr>
                    <td>
                        <img alt="..." src="{{ item.img.src  }}" class="avatar avatar-sm rounded-circle me-2">
                        <a class="text-heading font-semibold" href="#">
                            item.name
                        </a>
                    </td>
                    <td>item.date</td>
                    <td>
                        <span class="badge badge-lg badge-dot">
                            <i class="bg-{{ item.badge.color }}"></i>item.status</span>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                <img alt="..." src="{{ '/img/people/img-1.jpg' }}">
                            </a>
                            <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                <img alt="..." src="{{ '/img/people/img-3.jpg' }}">
                            </a>
                            <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
                                <img alt="..." src="{{ '/img/people/img-4.jpg' }}">
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="me-2">{{ item.progress.value }}%</span>
                            <div>
                                <div class="progress" style="width: 100px;">
                                    <div class="progress-bar bg-{{ item.progress.color }}" role="progressbar" aria-valuenow="{{ item.progress.value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.progress.value }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <a href="#" class="btn btn-sm btn-neutral">View</a>
                        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>`
        const invoicesContents = invoices.map(invoice => {
            return tableTemplate
                .replaceAll('item.name', invoice.expand.client.name)
                .replaceAll('item.date', new Date(invoice.date).toLocaleDateString() )
                .replaceAll('item.status', invoice.payment_date ? "Réglée" : "En attente" )
        })
        document.querySelector('#invoices').innerHTML = invoicesContents.join('\n')

        const totalInvoices = invoices.reduce((total, invoice) => total + invoice.amount, 0)
        
        document.querySelector("#amounts").innerHTML = document.querySelector("#amounts").innerHTML
            .replaceAll("totalInvoice", totalInvoices)
    </script>
